@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.dark {
    color-scheme: dark;
}

.ProseMirror div.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-blue-400;
}

.ProseMirror img.ProseMirror-selectednode {
    @apply ring-2 ring-offset-2 ring-blue-400;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #64748b;
    pointer-events: none;
    height: 0;
}
